body{
    background-color: wheat;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

h1{
background-color: cornflowerblue;
}

p{
    background-color: purple;
}
div.work-experiance{
    min-height:50%;
}