body{
    background-color: wheat;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}

h1{
background-color: cornflowerblue;
}

p{
    background-color: purple;
}
li:hover{
    font-weight:250;
}